	{{> header}}
	
	<div id = "ajax-wrapper">

	
		<div id = "index">
			
			<div class = "homepage-hero full-browser-height content-wrapper scroll-reveal">
				
				<div class = "vertical-center">
					<h1 class = "mblack-black"><span class = "subhead">{{intro.smallCopy}}<span class = "h-line"></span></span> {{intro.bigCopy}}</h1>
				</div>	
				
				<video autoplay loop id="video-background" muted>
				  <source src="{{intro.videoBackground}}" type="video/mp4">
				</video>	
					
			</div>
			
			
			
			
			
			<div class = "core-disciplines full-browser-height content-wrapper scroll-reveal">
				
				<div class = "vertical-center">
					<h3 class = "preg-yellow"><span class = "subhead">{{core-disciplines.smallCopy}}<span class = "h-line"></span></span> {{core-disciplines.bigCopy}}</h3>
					<button> <a href = "{{core-disciplines.button.url}}" data-type="page-transition">{{core-disciplines.button.text}}<span class = "yellow"></span><span class = "black"></span></a></button>
					<div class = "eye">
						<img class = "absolute-center" id = "eye-anim" src="../../build/img/home/eye.gif " alt="eye" width="542" height="310" />
						<img id = "island" src="../../build/img/home/island.jpg" alt="eye" width="542" height="310" />
					</div>
				</div>		
			</div>	
				
				
				
				
				
			<div class = "brand-reel video-wrapper scroll-reveal">
			   
				<div class = "video-controls" data-id = "brand-reel-video">
					<button type="button" class="play-pause play play-button absolute-center"></button>
					<div class ="scrubber-bar"><span></span></div>
					<button type="button" class="full-screen"></button>
				</div>
				
				<video class = "paused" data-id = "brand-reel-video" poster="{{brand-reel.videoPoster}}" preload = "none" >
				    <source src=" {{brand-reel.videoUrl}} " type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
				</video>
		
			</div>	
		</div>
		
	</div><!-- ajax wrapper -->
	
	{{> footer}}
