	{{> header}}

	<div id = "ajax-wrapper">
	
		<div id = "work" class = "page-wrapper">
			
			<div class = "content-wrapper">
				
				<h1>{{pageName}}</h1>
				
				<div class = "flex-two-col">
					
					{{#each projects}} 
	
						<div class = "scroll-reveal case-study-promo {{this.workPageContent.width}}">
							
							<img src="{{this.workPageContent.img}}">
							<div class = "hover-state">
								<div class = "vertical-center">
									<h2 class = "fade-in"> {{ this.client}} <span class="h-line"></span></h2>
									<p class = "tagline fade-in"> {{this.workPageContent.tagline}} </p>
									<p class = "industry fade-in"> {{ this.workPageContent.industry }}</p>
								</div>
								<a href = "../{{ this.workPageContent.pageName }}/index.html" data-type="page-transition">View Work</a>
							</div>
						</div>
					
					{{/each}}
	
	
				</div>
				
			</div>
		</div>
	
	</div> <!-- ajax-wrapper -->
	
	{{> footer}}
