{{> header}}
	<div id = "ajax-wrapper">

		<div itemscope itemtype="http://schema.org/ContactPage" id = "contact" class = "page-wrapper">

			<div class = "content-wrapper">

				<h1 class = "mbold-black">{{pageName}}</h1>

				<div class = "flex-two-col">


					{{#each list}}
						<div class = "half-width">
							<p class = "title">{{this.title}} <span class="h-line"></span><span class = "back-bar"></span></p>
							<p data-name = "{{this.name}}" class = "email"><span class = "back-bar"></span></p>
							<a data-name = "{{this.name}}" itemprop="significantLink" href = "{{this.mailtolink}}"></a>
						</div>
					{{/each}}

				</div>

			</div>
		</div>

	</div> <!-- ajax-wrapper -->
{{> footer}}
