{{> header}}
	<div id = "ajax-wrapper">

		<div id = "who-we-are" class = "page-wrapper">

			<div class = "content-wrapper">

			<div class = "intro scroll-reveal">
					<h1> {{ intro.header }} </h1>
					<h2> {{ intro.subhead }} <span></span></h2>
					<p class = "callout"> {{ intro.callout }}  </p>
					{{#each intro.introText}}
						<p>{{this}}</p>
					{{/each}}
			</div>



					<div class = "flex-two-col">

				{{#each employees}}

						<div itemscope itemtype="http://schema.org/Person" class = "scroll-reveal full-width employee yellow right">
							<p class = "quote vertical-center {{quoteColor}}">{{quote}}</p>
							<img title = "Fun Image" description = "Fun Image" class = "fun" src="{{funImage}}">
							<img title = "Headshot" description = "Headshot" itemprop="image" class = "headshot" src="{{headshot}}">
							<div class = "border-box"></div>
							<div class = "info">
								<p itemprop="givenName" class = "name">{{name}}<span></span></p>
								<p itemprop="jobTitle" class = "title">{{title}}<span></span></p>
							</div>
							<div class = "links">
								<a target = "_blank" href = "{{link1.url}}">{{link1.text}}</a>
								<a target = "_blank" href = "{{link2.url}}">{{link2.text}}</a>
							</div>
						</div>

				{{/each}}

					</div>


			</div>
		</div>

	</div> <!-- ajax-wrapper -->
{{> footer}}
