       
        <h1>{{fullName}} 9/11</h1>
        <p>{{bio}} THIS IS THE BIO</p>
        <p>
            You can find me on <a href="http://www.twitter.com/{{twitterUsername}}">Twitter</a>,
            <a href="http://www.github.com/{{githubUsername}}">GitHub</a> or my <a href="http://{{website}}">Website</a>.
        </p>
        
		
		
		<p class = "headline-mbold-grey">headline-mbold-grey A band of salty Mainers aimed to solutionize the solutionless.</h1>
		<p class = "headline-mbold-red">headline-mbold-red Lorem ipsum dolor consectar enem</h2>
		<p class = "headline-mbold-black">headline-mbold-black The proof is in the brand reel.</h3>
		
		<p class = "headline-pblack-black">headline-pblack-black</p>
		<p class = "headline-pblack-black-italic">headline-pblack-black-italic</p>
		
		<p class = "headline-mregular-black">headline-mregular-black</p>
		<p>This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

		<a class = "explore">Exploreasdfasdasff</a>
        
