

<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		
		<title>{{metadata.title}}</title>
		
		<!-- Meta -->
		<meta property="description" content="{{metadata.description}}"/>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="robots" content="index, follow">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		
		<!-- Opengraph meta -->
		<meta property="og:type" content="website"/>
		<meta property="og:title" content="{{metadata.title}}"/>
		<meta property="og:description" content="{{metadata.description}}"/>
		<meta property="og:image" content=""/>
		<meta property="og:site_name" content="KINGSPOKE"/>
		<meta property="og:type" content="website"/>
		
		
		<!-- Twitter meta -->
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@KINGSPOKE"/>
		<meta name="twitter:title" content="{{metadata.title}}"/>
		<meta name="twitter:description" content="{{metadata.description}}"/>
		<meta name="twitter:image" content=""/>
		
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" type="image/ico" href="../img/global/favicon.png"/>       
       
       
       
	    <link rel="apple-touch-icon" href="apple-touch-icon.png">
	
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Playfair+Display:400,400i,700,700i,900,900i|Oswald:400,500,600,700" rel="stylesheet">
	    <script src="https://use.fontawesome.com/869b029ee8.js"></script>
	    <link rel="stylesheet" href="../css/main-min.css">
	    <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
   
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        	
		<header class = "z-index-always-on-top">
			<a href = "../index"><img title = "KINGSPOKE logo" description = "KINGSPOKE logo" class = "ks-logo " src = "../img/global/kingspoke_O_logo.svg" /></a>
		</header>		
		
		<nav class = "z-index-always-on-top">
			<ul class = "nav-options">
				<li><a data-type="page-transition" id = "nav-work" class = "mbold-black" href = "../work/index.html">work<span class = "yellow"></span><span class = "black"></span></a></li>
				<li><a id = "nav-how" class = "mbold-black" href = "../how-we-work/index.html" data-type="page-transition">how<span class = "yellow"></span><span class = "black"></span></a></li>
				<li><a id = "nav-who" class = "mbold-black" href = "../who-we-are/index.html" data-type="page-transition">who<span class = "yellow"></span><span class = "black"></span></a></li>
				<li><a id = "nav-contact" class = "mbold-black" href = "../contact/index.html" data-type="page-transition">contact<span class = "yellow"></span><span class = "black"></span></a></li>				
			</ul>
		</nav>
		
		<div class="cd-cover-layer z-index-top"></div>
		<div class="loader z-index-top"></div>







